:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: black;
  --bg-primary: #23232e;
  --bg-secondary: #23232e;
  --bg-primary-item: rgb(81, 2, 105);
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  margin-top: 4rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary-item);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

header {
  background-color: var(--bg-primary);
  top: 0;
  color: white;
  width: 100vw;
  height: auto;
  z-index: 1;
  text-align: center;
  position: fixed;
}


.card {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 1rem;
  /*-webkit-box-shadow: 0px 27px 34px -1px rgba(171,166,171,1);
  -moz-box-shadow: 0px 27px 34px -1px rgba(171,166,171,1);
  box-shadow: 0px 27px 34px -1px rgba(171,166,171,1);*/
  box-shadow: 0px 30px 60px rgba(141, 139, 139, 0.2);
  border-radius: .9rem;
  border: .1rem solid rgb(163, 133, 133);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.card-content {
  display: block;
}

.main-home-img {
  width: 15%;
  padding: .5rem;
}

.main-home-img > img {
  border-radius: 50%;
  border: .2rem solid rgb(172, 172, 172);
  width: 99%;
  transition-duration:300ms;
}

.main-home-img> img:hover {
  border-radius: 10%;
  transition-duration:600ms ;
}

.main-home-text {
  display: block;
  max-width: 80%;
}

.home-title {
  font-style: italic;
  font-size: 2.5rem;
}

.home-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
}

.home-description {
  text-align: justify;
}

.card-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-card {
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: white;
  border-radius: .9rem;
  margin: 2rem;
}

.mini-card-content {
  margin: 0 2rem 1rem;
}

.mini-card-title {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.mini-card-title > h1 {
  font-size: 1.5rem;
}

.tags {
  justify-self: flex-end;
  margin: 0 1rem;
  padding: 0 1rem;
  background-color: greenyellow;
  color: black;
  border-radius: .5rem;
}

.mini-card > picture > img {
  width: 100%;
}

.card-title{
  font-size: 2rem;
  margin: 2rem 3rem;
  color: var(--text-secondary);
}


/*------------------Responsive Design-----------------------*/

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    margin-top: 4rem;
  }

  header {
    width: 100vw;
  }

  .card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-direction {
    flex-direction: row;
  }

  .main-home-text {
    max-width: 100%;
  }

  .home-title {
    text-align: center;
  }

  .home-subtitle {
    text-align: center;
  }

  .main-home-img {
    width: 80%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-primary-item: rgb(81, 2, 105);
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-primary-item: rgb(214, 211, 211);
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-primary-item: rgb(255, 174, 0);
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
